<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Mera Brand</title>

    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
             
</div>

        <!--<! /.navbar-collapse -->
        <!-- /.container -->
    </nav>

  <div class="jumbotron feature" style="background-color: yellowgreen;">
    <div class="container" >
      <h1>Mera Brand</h1>
      <p> Create your OWN Brand.</p>
    </div>
  </div>

    <!-- Content -->
    <div class="container">
        

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><h1>Enter credentials:</h1>
            
            
            
   
    <%= form_for(:customer, :url => {:controller => 'credentials',:action => 'create_customer'}) do |f| %>
    <ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><%= f.text_field :first_name, :class =>'field-divided', :placeholder => 'first_name', :required => true%>&nbsp;<%= f.text_field :last_name, :class =>'field-divided', :placeholder => 'last_name', :required => true %></li>
    <li>
        <label>Email <span class="required">*</span></label>
        <%= f.text_field :email, :class =>'field-long', :placeholder => 'email', :required => true %>
    </li>
     <li>
        <label>Password <span class="required">*</span></label><%= f.password_field :password, 
        :class =>'field-divided', :placeholder => 'password', :required => true %>
    </li>
    <!--<li>
        <label>Subject</label>
        <select name="field4" class="field-select">
        <option value="Advertise">Advertise</option>
        <option value="Partnership">Partnership</option>
        <option value="General Question">General</option>
        </select>
    </li>
    <li>
        <label>Your Message <span class="required">*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>-->
    <li>
        <%= submit_tag ("sign up") %>
    </li>
</ul>
<% end %>

        </div>
        <!--

         Feature Row 
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Efficiently Unleash</a>
                </h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </article>
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Completely Synergize</a>
                </h3>
                <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Dynamically Procrastinate</a>
                </h3>
                <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            </article>
        </div>
         -->

    </div>
    <!-- /.container -->
  <footer>
    <div class="footer-blurb"> 
        <div class="small-print">
          <div class="container">
            <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
            <p>Copyright &copy; Example.com 2015 </p>
          </div>
        </div>
  </footer>

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  
  <!-- IE10 viewport bug workaround -->
  <script src="js/ie10-viewport-bug-workaround.js"></script>
  
  <!-- Placeholder Images -->
  <script src="js/holder.min.js"></script>
  
</body>

</html>


